.SideMenu p
{
    font-size: 14px;
    color: grey;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal-header {
    background-color: #36648b;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

#OperatorTable thead tr th
{
    text-align: center;
}

.FormLabel
{
    opacity: 0.7;
}